@model IEnumerable<Course>
@{
    List<string> categories = Model.Select(c => c.Category.Name).Distinct().ToList();
}

<div class="row pb-3" id="courseList">
    @foreach (var course in Model)
    {
        <div class="col-lg-3 col-sm-6" data-category="@course.Category.Name">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        <img src="@course.ImageUrl" class="card-img-top rounded" />
                        <div class="card-body pb-0" style="height: 150px;">
                            <!-- Adjust the height as needed -->
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@course.Title</p>
                                <p class="card-title text-warning text-center text-black">Instructor: <b>@course.TutorName</b></p>
                            </div>
                        </div>
                        <div>
                            <a asp-action="Details"
                               asp-route-courseId="@course.Id"
                               class="btn btn-primary bg-gradient border-0 form-control">
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<div class="row pb-3" id="courseList">
    @foreach (var course in Model)
    {
        <div class="col-lg-3 col-sm-6" data-category="@course.Category.Name">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        <img src="@course.ImageUrl" class="card-img-top rounded" />
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@course.Title</p>
                                <p class="card-title text-warning text-center text-black">Instructor: <b>@course.TutorName</b></p>
                            </div>
                        </div>
                        <div>
                            <a asp-action="Details"
                               asp-route-courseId="@course.Id"
                               class="btn btn-primary bg-gradient border-0 form-control">
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    function filterCourses() {
        var selectedCategories = [];
        var checkboxes = document.querySelectorAll('input[type=checkbox]:checked');

        checkboxes.forEach(function (checkbox) {
            selectedCategories.push(checkbox.value);
        });

        var courseList = document.getElementById("courseList");
        var courses = courseList.getElementsByClassName("col-lg-3");

        for (var i = 0; i < courses.length; i++) {
            var course = courses[i];
            var courseCategory = course.getAttribute("data-category");

            if (selectedCategories.length === 0 || selectedCategories.includes(courseCategory)) {
                course.style.display = "";
            } else {
                course.style.display = "none";
            }
        }
    }
</script>

