@model Product
<form method="post">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a asp-action="Index">Home</a></li>
                <li>Details</li>
            </ol>
            <h2>Tutor Details</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Tutor Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="@Model.ImageUrl" alt="">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>@Model.Title</h3>
                        <ul>
                            <li><strong>Category</strong>: @Model.Category.Name</li>
                            <li><strong>Price per hour</strong>@Model.ListPrice.ToString("c")</li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>Details</h2>
                        <p>
                            @Html.Raw(Model.Description)
                        </p>
                    </div>
                    <div class="text-center mt-4">
                        <!-- Button to add to cart -->
                        <button type="submit" class="btn btn-primary btn-lg text-uppercase" style="background-color: deepskyblue; color: white;">
                            Add to Cart
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->
</form>
