@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="row">
    <div class="col-md-6 offset-md-3">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <br/>
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="mb-3">
                <label for="Input.Name" class="form-label">Name</label>
                <input asp-for="Input.Name" class="form-control" autocomplete="username" aria-required="true" placeholder="Duarte" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="inputEmail" class="form-label">Email</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="inputConfirmPassword" class="form-label">Confirm Password</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="inputStreetAddress" class="form-label">Street Address</label>
                <input asp-for="Input.StreetAddress" class="form-control" aria-required="true" placeholder="Rua das Laranjas nº2" />
                <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="inputCity" class="form-label">City</label>
                        <input asp-for="Input.City" class="form-control" aria-required="true" placeholder="Amadora" />
                        <span asp-validation-for="Input.City" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="inputState" class="form-label">State</label>
                        <input asp-for="Input.State" class="form-control" aria-required="true" placeholder="Lisboa" />
                        <span asp-validation-for="Input.State" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="inputPostalCode" class="form-label">Postal Code</label>
                <input asp-for="Input.PostalCode" class="form-control" aria-required="true" placeholder="2830" />
                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="inputPhoneNumber" class="form-label">Phone Number</label>
                <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true" placeholder="92736482" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="inputRole" class="form-label">Role</label>
                <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select">
                    <option disable selected>Select Role</option>
                </select>
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                            article
                            about setting up this ASP.NET application to support logging in via external services
                        </a>.
                    </p>
                </div>
            }
            else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
